In [3]:
import pandas as pa
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pa.read_csv(r"C:\Users\chaud\Downloads\Cases (Oldest) 1970 (1).csv")
df.head()

,Date,Code,CommodityId,CommodityName,DistrictName,DistrictCode,Stock,CommodityStock,TotalStock
0,1970,State,Andhra Pradesh,10.0,85.0,1.0,9.0,85.0,25.0
1,1970,State,Assam,29.0,110.0,27.0,31.0,81.0,143.0
2,1970,State,Bihar,37.0,416.0,63.0,51.0,339.0,645.0
3,1970,State,Gujarat,19.0,62.0,3.0,10.0,68.0,43.0
4,1970,State,Haryana,21.0,82.0,4.0,22.0,77.0,69.0

In [ ]:
#DAY 2 CHECKING FOR THE MISSING DATA .
import pandas as pa
df = pa.read_csv(r"C:\Users\chaud\Downloads\Cases (Oldest) 1970 (1).csv")
print(df.head())  # I have to Check  if df is loaded and data is visible

df.isnull().sum() #Use for to check the missing and null values present in the data sets

   Date   Code     CommodityId  CommodityName  DistrictName  DistrictCode  \
0  1970  State  Andhra Pradesh           10.0          85.0           1.0
1  1970  State           Assam           29.0         110.0          27.0
2  1970  State           Bihar           37.0         416.0          63.0
3  1970  State         Gujarat           19.0          62.0           3.0
4  1970  State         Haryana           21.0          82.0           4.0

   Stock  CommodityStock  TotalStock
0    9.0            85.0        25.0
1   31.0            81.0       143.0
2   51.0           339.0       645.0
3   10.0            68.0        43.0
4   22.0            77.0        69.0

Date               0
Code               0
CommodityId        0
CommodityName     13
DistrictName       5
DistrictCode      16
Stock             15
CommodityStock     4
TotalStock         7
dtype: int64

In [4]:
#NOW ITS TIME TO REMOVE THE DUPLICATE VALUES PRESENT IN DATASETS 
import pandas as pa
df = pa.read_csv(r"C:\Users\chaud\Downloads\Cases (Oldest) 1970 (1).csv")
print(df.head())
df.drop_duplicates(inplace=True)
print(df)

   Date   Code     CommodityId  CommodityName  DistrictName  DistrictCode  \
0  1970  State  Andhra Pradesh           10.0          85.0           1.0
1  1970  State           Assam           29.0         110.0          27.0
2  1970  State           Bihar           37.0         416.0          63.0
3  1970  State         Gujarat           19.0          62.0           3.0
4  1970  State         Haryana           21.0          82.0           4.0

   Stock  CommodityStock  TotalStock
0    9.0            85.0        25.0
1   31.0            81.0       143.0
2   51.0           339.0       645.0
3   10.0            68.0        43.0
4   22.0            77.0        69.0
    Date               Code        CommodityId  CommodityName  DistrictName  \
0   1970              State     Andhra Pradesh           10.0          85.0
1   1970              State              Assam           29.0         110.0
2   1970              State              Bihar           37.0         416.0
3   1970              State            Gujarat           19.0          62.0
4   1970              State            Haryana           21.0          82.0
5   1970              State   Himachal Pradesh            7.0          16.0
6   1970              State    Jammu & Kashmir            NaN          38.0
7   1970              State             Kerala            8.0          42.0
8   1970              State     Madhya Pradesh           55.0         449.0
9   1970              State        Maharashtra           80.0         286.0
10  1970              State            Manipur            NaN          13.0
11  1970              State             Mysore            7.0          33.0
12  1970              State           Nagaland            6.0           8.0
13  1970              State             Orissa            NaN          36.0
14  1970              State             Punjab          121.0          96.0
15  1970              State          Rajasthan           11.0         148.0
16  1970              State         Tamil Nadu            4.0          58.0
17  1970              State            Tripura            NaN           2.0
18  1970              State      Uttar Pradesh          146.0         740.0
19  1970              State        West Bengal          103.0         255.0
20  1970              State     Total (States)          664.0        2975.0
21  1970                 UT      A & N Islands            NaN           NaN
22  1970                 UT         Chandigarh            4.0           NaN
23  1970                 UT       D & N Haveli            NaN           NaN
24  1970                 UT              Delhi            NaN          39.0
25  1970                 UT   Goa, Daman & Diu            NaN           3.0
26  1970                 UT        Lakshadweep            NaN           NaN
27  1970                 UT        Pondicherry            NaN           3.0
28  1970                 UT        Total (UTs)            4.0          45.0
29  1970  Total (All-India)  Total (All-India)          668.0        3020.0
30  1970               City          Ahmedabad            1.0           NaN
31  1970               City          Bangalore            NaN           2.0
32  1970               City             Bombay           19.0          48.0
33  1970               City           Calcutta           16.0          11.0
34  1970               City              Delhi            NaN          30.0
35  1970               City          Hyderabad            8.0          15.0
36  1970               City             Kanpur            8.0          15.0
37  1970               City             Madras            NaN           6.0
38  1970               City     Total (Cities)           52.0         127.0

    DistrictCode  Stock  CommodityStock  TotalStock
0            1.0    9.0            85.0        25.0
1           27.0   31.0            81.0       143.0
2           63.0   51.0           339.0       645.0
3            3.0   10.0            68.0        43.0
4            4.0   22.0            77.0        69.0
5            2.0    6.0            15.0        23.0
6            NaN    NaN            38.0        82.0
7            3.0   13.0            34.0        30.0
8           16.0   51.0           437.0       484.0
9            6.0   73.0           287.0       345.0
10          10.0    NaN             3.0        17.0
11           NaN    5.0            35.0        29.0
12           4.0    8.0             2.0         NaN
13           NaN    5.0            31.0        49.0
14           7.0   99.0           111.0       196.0
15           1.0   11.0           147.0       319.0
16          13.0    3.0            46.0        16.0
17           1.0    NaN             1.0        19.0
18         111.0  113.0           662.0      1116.0
19         100.0  153.0           105.0       256.0
20         372.0  663.0          2604.0      3906.0
21           NaN    NaN             NaN         NaN
22           NaN    NaN             4.0         1.0
23           NaN    NaN             NaN         NaN
24           NaN    NaN            39.0        58.0
25           NaN    NaN             3.0         4.0
26           NaN    NaN             NaN         NaN
27           NaN    NaN             3.0         NaN
28           NaN    NaN            49.0        63.0
29         372.0  663.0          2653.0      3969.0
30           1.0    NaN             NaN         NaN
31           NaN    1.0             1.0         1.0
32           NaN   14.0            53.0        51.0
33           4.0   18.0             5.0         1.0
34           NaN    NaN            30.0        54.0
35           NaN    NaN            23.0         1.0
36           NaN    1.0            22.0        23.0
37           5.0    NaN             1.0         NaN
38          10.0   34.0           135.0       131.0